*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  object-fit: cover;
}

a{
  text-decoration: none;
  color: inherit;
}