<footer class="bg-primary">
  <div class="container text-white">
    <div class="footer-contact">
      <div class="flex justify-content-between mb-24">
        <ul class="footer-navbar flex justify-content-between none-sm  align-items-center w-100">
          <li><a href="#" class="text-white text-none">首頁</a></li>
          <li><a href="#" class="text-white text-none">系列鏡框</a></li>
          <li><a href="#" class="text-white text-none">門市據點</a></li>
          <li><a href="#" class="text-white text-none">部落格</a></li>
          <li><a href="#" class="text-white text-none">常見問題</a></li>
        </ul>
        <ul class="flex footer-social">
          <li><a href="#"><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                alt=""></a></li>
          <li><a href="#"><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                alt=""></a></li>
          <li><a href="#"><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                alt=""></a></li>
        </ul>
      </div>
      <div class="footer-info ">
        <p class="fs-36 flex align-items-center"><span class="material-symbols-outlined fs-48 fs-sm-24">
            call
          </span>0800-000-000</p>
        <p class="fs-36 flex align-items-center"><span class="material-symbols-outlined fs-48 fs-sm-24">
            mail
          </span>glasses@business.com</p>
      </div>
    </div>
    <hr>
    <div class="copyright flex block-sm justify-content-between">
      <p class="mb-sm-8">Copyright © 2020 Glasses.All rights reserved.</p>
      <div>
        <a href="#" class="text-none text-white fs-14 mr-48 mb-sm-8">隱私權政策</a>
      </div>
      <div>
        <a href="#" class="text-none text-white fs-14">服務條款</a>
      </div>
    </div>
  </div>
</footer>