<header class="bg-primary">
  <div class="container flex block-sm justify-content-between p-sm-0">
    <h1><img src="assets/logo-new_工作區域 1.png" alt=""></h1>
    <ul class="flex justify-content-between align-items-center flex-wrap w-100 text-center">
      <li><a href="#" class="text-none text-white fs-20 fs-sm-16">系列鏡框</a></li>
      <li><a href="#" class="text-none text-white fs-20 fs-sm-16">門市據點</a></li>
      <li><a href="#" class="text-none text-white fs-20 fs-sm-16">部落格</a></li>
      <li><a href="#" class="text-none text-white fs-20 fs-sm-16">常見問題</a></li>
    </ul>
  </div>
</header>