<nav class="nav bg-primary">
  <div class="container flex block-sm justify-content-between p-sm-0">
    <h1 class="mr-48">
      <a href="index.html"><img src="../assets/images/logo-white.png" alt="a pair of white glass"
          class="my-16 ml-sm-15"></a>
    </h1>
    <ul class="flex justify-content-between align-items-center flex-wrap w-100 text-center text-white">
      <li class="w-sm-50"><a href="products-optical.html" class="fs-20 fs-sm-16">系列鏡框</a></li>
      <li class="w-sm-50"><a href="stores.html" class="fs-20 fs-sm-16">門市據點</a></li>
      <li class="w-sm-50"><a href="#" class="fs-20 fs-sm-16">部落格</a></li>
      <li class="w-sm-50"><a href="#" class="fs-20 fs-sm-16">常見問題</a></li>
    </ul>
  </div>
</nav>