<div class="container">
  <nav class="pagination mb-80">
    <ul class="flex justify-content-center">
      <li><a href="#" class="flex justify-content-center align-items-center fs-18 fs-sm-16  ">上一頁</a></li>
      <li><a href="#" class="inline-block fs-18 fs-sm-16 px-16 py-12">1</a></li>
      <li><a href="#" class="inline-block fs-18 fs-sm-16 px-16 py-12 active">2</a></li>
      <li><a href="#" class="inline-block fs-18 fs-sm-16 px-16 py-12">3</a></li>
      <li><a href="#" class="inline-block fs-18 fs-sm-16 px-16 py-12">4</a></li>
      <li><a href="#" class="inline-block fs-18 fs-sm-16 px-16 py-12">5</a></li>
      <li><a href="#" class="flex justify-content-center align-items-center fs-18 fs-sm-16   disabled">下一頁</a></li>
    </ul>

  </nav>
</div>