<div class="product-category container ">
  <ul class="text-center flex fw-500">
    <li class="w-33">
      <a href="products-optical.html"
        class="block py-24 py-md-16 fs-32 fs-md-24 fs-sm-16 text-truncate <%= page === 'OPTICAL' ? 'active' : '' %>">OPTICAL</a>
    </li>
    <li class="w-33">
      <a href="products-sunglass.html"
        class="block py-24 py-md-16 fs-32 fs-md-24 fs-sm-16 text-truncate <%= page === 'SUNGLASS' ? 'active' : '' %>">SUNGLASS</a>
    </li>
    <li class="w-33">
      <a href="#"
        class="block py-24 py-md-16 fs-32 fs-md-24 fs-sm-16 text-truncate <%= page === 'FUNCTIONAL' ? 'active' : '' %>">FUNCTIONAL</a>
    </li>
  </ul>
</div>