header img {
  margin-top: 16px;
  margin-bottom: 16px;
  @media (max-width: 375px) {
    margin-left: 15px;
  }
}
header ul{
  max-width: 492px;
}
header li {
  @media (max-width: 375px) {
    width: 50%;
    padding: 11px 0;
    border: 1px solid white;
  }
}