.pagination {
  color: #555555;

  li {
    border: 1px solid #555555;

    &:first-child {
      flex-basis: 81px;
    }

    &:last-child {
      flex-basis: 81px;

    }
  }

  a {

    height: 100%;
    transition-duration: 0.5s;

    &.active {
      color: #fff;
      background: #000;
      pointer-events: none;

    }

    &.disabled {
      background: #F2F2F2;
      cursor: not-allowed;
      pointer-events: none;
    }

    &:hover {
      background: $light;
      color: #fff;
    }
  }
}