.section-title {
  font-weight: bold;
  text-align: center;
  font-size: 48px;

  @include mobile {
    font-size: 24px;
  }
}

.banner {
  background-image: url(../images/home-header.png);
  background-position: center;
  background-size: cover;

  @include pad {
    background-image: url(../images/home-header-sm.png);
  }

  a:hover{
    background: $primary-dark;
  }
}

.intro {
  li {
    width: calc(25% - 18px);

    @include pad {
      width: calc(50% - 12px);
    }

    @include mobile {
      width: 100%;
    }
  }

  img {
    width: 100px;
  }
}

.classic {
  li {
    width: calc((100% - 48px) / 3);
    word-wrap: break-word;

    @include pad {
      width: 100%;
    }
  }

  img {
    @include pad {
      width: 336px;
    }

    @include mobile {
      width: 348px;
    }
  }
}

.feat {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
  background-position: center;
  background-size: cover;

  @include mobile {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true");
  }

  img {
    width: 100%;
    max-height: 240px;
  }
}

.recommend {
  img {
    max-height: 306px;
    width: 100%;
  }

  li {
    width: calc(25% - 18px);

    @include pad {
      width: calc(50% - 12px);
    }

    @include mobile {
      width: 100%;
    }
  }

  &-text {
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px;
    flex-grow: 1;
    min-height: 205px;
  }
}

.contact-content {
  max-width: 636px;
  margin: 0 auto;

  @include pad {
    max-width: 576px;
  }
}

.contact-input-group input,
.contact-input-group textarea {
  line-height: 1.5;
  padding: 5px 12px;
  border: 1px solid #000;

  &::placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
}

.agreement {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 22px;
}

/* Hide the browser's default checkbox */
.agreement input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 3px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.agreement input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.agreement .checkmark:after {
  left: 3px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.submit {
  border: 0;
  padding: 16px 176px;

  &:hover {
    cursor: pointer;
    background: #650300;
  }

  @include pad {
    padding: 16px 136px;
  }
  @include mobile{
    padding: 16px 0;
  }
}