<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <title>Week4-single-store</title>
</head>

<body>
  <%- include('./layout/nav'); -%>

    <div class="stores container mb-80">
      <h2 class="fs-48 fs-sm-24 fw-bold pl-16 mb-32">門市據點</h2>

      <div class="flex flex-wrap align-items-center mb-40">
        <label for="area" class="fs-24 fs-sm-16 mr-16">選擇分店</label>
        <select name="area" id="area" class="fs-18 px-12 py-6">
          <option value="台北">台北市中山旗艦店</option>
        </select>
      </div>

      <div class="single-store flex flex-md-wrap gx-24 mb-80">
        <div class="single-store-info flex-md block-sm justify-content-between mb-md-24">
          <div>
            <img src="../assets/images/stores/storepage-1.png" alt="">
          </div>
          <div>
            <h3 class="fs-24 px-24 py-8">台北中山旗艦店</h3>
            <div class="store-text">
              <ul class="px-24 py-16">
                <li class="mb-8 flex align-items-center">
                  <span class="material-symbols-outlined fs-24 mr-8">call</span>
                  <a href="tel:+886-0-000-1234" class="fs-20">電話：(02)000-1234</a>
                </li>
                <li class="mb-8 flex align-items-center">
                  <span class="material-symbols-outlined fs-24 mr-8">schedule</span>
                  <span class="fs-20">營業時間：10:00-21:00</span>
                </li>
                <li class="flex align-items-center">
                  <span class="material-symbols-outlined fs-24 mr-8">location_on</span>
                  <span class="fs-20">地址：台北市中山區南京東路25巷2-1號</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="single-store-map">
          <img src="../assets/images/stores/google-map-2x.png" alt="">
        </div>
      </div>

    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>