.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 36px;
  }

  @media (max-width: 375px) {
    padding: 0 14px;
  }
}



/* 背景 */
.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-white {
  background: #fff;
}
.bg-black{
  background: #000;
}
.bg-transparent {
  background-color: transparent;
}

.bg-brown {
  background-color: #B75929;
}

.bg-brown-dark {
  background-color: #5F3E2D;
}

/* 排版 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.g-32 {
  gap: 32px;
}

.gx-24 {
  column-gap: 24px;
}

@include pad {
  .block-md {
    display: block;
  }
  .flex-md{
    display: flex;
  }
  .hidden-md {
    display: none;
  }

  .g-md-16 {
    gap: 16px;
  }
  .flex-md-wrap{
    flex-wrap: wrap;
  }
}

@include mobile {
  .hidden-sm {
    display: none;
  }

  .flex-sm {
    display: flex;
  }

  .block-sm {
    display: block;
  }

  .justify-content-sm-center {
    justify-content: center;
  }

  .justify-content-sm-between {
    justify-content: space-between;
  }

  .g-sm-8 {
    gap: 8px;
  }
}

/* 寬度 */
.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

@include pad {
  .w-md-100 {
    width: 100%;
  }
}

@include mobile {
  .w-sm-50 {
    width: 50%;
  }

  .w-sm-100 {
    width: 100%;
  }
}

/* 文字對齊、顏色、樣式 */
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-none {
  text-decoration: none;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: $primary;
}

.text-primary-dark {
  color: $primary-dark;
}

.text-light {
  color: $light;
}

.text-italic {
  font-style: italic;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 文字大小、粗細 */
.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}
.fs-19{
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.fs-42 {
  font-size: 42px;
}

.fs-48 {
  font-size: 48px;
}

.fs-64 {
  font-size: 64px;
}

.fw-500 {
  font-weight: 500;
}

.fw-bold {
  font-weight: bold;
}

@media (max-width:768px) {
  .fs-md-16 {
    font-size: 16px;
  }

  .fs-md-24 {
    font-size: 24px;
  }
}

@media (max-width:375px) {
  .fs-sm-16 {
    font-size: 16px;
  }

  .fs-sm-24 {
    font-size: 24px;
  }
}

/* 間距 */

.p-4 {
  padding: 4px;
}

.p-12 {
  padding: 12px;
}

.p-16 {
  padding: 16px;
}

.pt-48 {
  padding-top: 48px;
}

.pl-16{
  padding-left: 16px;
}
.pb-32 {
  padding-bottom: 32px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-24{
  padding-left: 24px;
  padding-right: 24px;
}
.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-11 {
  padding-top: 11px;
  padding-bottom: 11px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16{
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-296 {
  padding-top: 296px;
  padding-bottom: 296px;
}

.mt-auto {
  margin-top: auto;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-auto {
  margin-right: auto;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}

.mb-72 {
  margin-bottom: 72px;
}

.mb-80 {
  margin-bottom: 80px;
}

.ml-auto{
  margin-left: auto;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

@include pad {
  .pb-md-40 {
    padding-bottom: 40px;
  }

  .py-md-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .py-md-36 {
    padding-right: 36px;
    padding-bottom: 36px;
  }

  .mb-md-24 {
    margin-bottom: 24px;
  }
    .mb-md-40 {
    margin-bottom: 40px;
  }
}

@include mobile {
  .p-sm-0 {
    padding: 0;
  }
  .py-sm-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .py-sm-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .py-sm-144 {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .mr-sm-8 {
    margin-right: 8px;
  }

  .mb-sm-8 {
    margin-bottom: 8px;
  }

  .mb-sm-24 {
    margin-bottom: 24px;
  }
  .mb-sm-40 {
    margin-bottom: 40px;
  }
  .mb-sm-64 {
    margin-bottom: 64px;
  }



  .ml-sm-15 {
    margin-left: 15px;
  }

  .my-sm-24 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}